.plain-link {
  text-decoration: none;
  color: inherit;
}

#logged {
  height: 100vh;
  background-color: aliceblue;
  /* padding: 3vh 2vw; */
}

/* SIDE GRID */

.side-grid {
  grid-area: grid-side;
  border-right: 1px solid var(--primamid);
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: var(--primalight);
}

/* NAV GRID */

.nav-grid {
  grid-area: grid-nav;
  border-bottom: 1px solid var(--primamid);
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
  background-color: var(--background);
}

.search-icon {
  margin-bottom: 2px;
}
.search-icon:hover {
  cursor: pointer;
}
.search-input {
  border: none;
  background-color: var(--background);
  padding: 6px 12px;
  width: 30vw;
  margin-left: 4px;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
}

.dropdowns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-image {
  border: 1px solid var(--text);
  border-radius: 50%;
  object-fit: contain;
  margin-left: 8px;
  height: 50px;
}

.user-image:hover {
  cursor: pointer;
}

.dropdown-user {
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  /* border: 1px solid var(--text); */
  border-radius: 4px;
  background-color: var(--primalight);
  width: min-content;
}

.dropdown-user > div {
  display: flex;
  /* justify-content: flex-end; */
  margin: 4px 16px;
  padding: 0 4px;
  font-size: 18px;
  color: var(--text);
}

.dropdown-user > div:hover {
  color: var(--seco);
  cursor: pointer;
}

.dropdown-user-profile {
  white-space: nowrap;
}

.dropdown-user-logout {
  /* color: var(--error) !important; */
  padding-top: 2px !important;
}
/* MAIN GRID */

.main-grid {
  grid-area: grid-main;
  /* border: 1px solid green; */
  /* display: flex; */
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

/* FOOTER GRID */

.footer-grid {
  grid-area: grid-footer;
  border-top: 1px solid var(--primamid);
  height: 12vh;
  display: flex;
  flex-direction: row;
  background-color: var(--primalight);
}

.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "grid-side grid-nav"
    "grid-side grid-main"
    "grid-footer grid-footer";
}

/* SETTINGS */

.settings {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--text);
}

.settings > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  width: 100%;
  max-width: 400px;
}

.flex-input {
  flex-grow: 1;
}

.input-change {
  display: flex;
  flex-direction: row;
  width: 80%;
}
