/* HOMEPAGE */

.home-logos {
  display: flex;
  justify-content: center;
}

.home-welcome {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: flex-end;
  /* height: calc(100% - 7vh); */
  height: auto;
  padding-top: 15vh;
  flex-direction: column;
  max-width: 1000px;
  /* border: 1px solid black; */
  /* max-width: 100%; */
  /* height: max-content; */
  margin: 0 2vw;
}

.deezer-presents {
  display: flex;
  flex-direction: row;
  /* padding-right: 10vw; */
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1vh;
  max-width: 100%;
  margin-right: 2vw;
}

.deezer-presents img {
  max-height: 60px;
  /* min-height: 40px; */
  height: 5vw;
  margin-right: 2vw;
}

.deezer-presents > div {
  font-size: 3vh;
  align-self: flex-end;
  margin-top: 20px;
}

.musicroom-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: 2vw;
}

.musicroom-logo img {
  /* height: 8vw; */
  max-height: 60px;
  margin-right: 0.5vw;
}

.musicroom-logo > div {
  font-size: 80px;
  font-weight: 1000;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90deg, var(--prima), var(--seco), var(--prima));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.to-login {
  border: 1px solid blue;
  display: flex;
}

/* REGISTER */

.register-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid red; */
  padding-bottom: 50px;
  /* min-height: 100vh; */
  /* height: auto; */
  /* flex-grow: 1; */
}

.got-account {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vh;
}

/* .oauth-reg {
  border: 1px solid green;
} */

.oauth-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.oauth-logos > div {
  margin: 1vh 1vw;
  padding: 1vh 2vw;
  border: 1px solid var(--prima);
  /* width: min(160px, 400px); */
  min-width: 100px;
  max-width: 120px;
  border-radius: 15px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.oauth-logos > div:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 2px 2px 15px var(--primalight);
}
.oauth-logos img {
  max-height: 3vh;
  margin-right: 4px;
}

.reg-fields {
  /* margin-top: 1vh; */
  display: flex;
  flex-direction: column;
  padding: 2px 0;
}

.reg-fields label {
  margin-top: 2vh;
  padding-left: 1vw;
}

.reg-input,
select {
  padding: 1vh 1vh;
  border-radius: 5px;
  min-height: 25px;
  font-size: 16px;
  /* margin-bottom: 2vh; */
}

.reg-input:focus {
  box-shadow: 5px 5px 15px var(--primalight);
}

.regmsg {
  display: flex;
  color: var(--seco);
  padding: 2px;
}

.regmsg > div {
  display: flex;
  flex-direction: row;
  font-size: smaller;
  font-weight: lighter;
  padding-left: 1vw;
}

.extra-button:hover {
  background-color: var(--primamid) !important;
}
